h1 {
   
    /* background-image: linear-gradient(blue, green); */
    color : black;
    font-family : Georgia;
    text-shadow: 10px;
    transition: color 0.5s;
}
h1:hover {
    color:#0000ff;
}

p {
    text-indent:0%;
    transition: text-indent 1s;
}
p:hover {
    text-indent:5%;
    transition: text-indent 0.5s;
}


body {
    background-color:beige
}